<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
<link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
<link rel="stylesheet" href="/stylesheets/header.css">
<title>Title</title>
</head>
<body>

    <nav class="navbar fixed-top navbar-expand navbar-custom smart-scroll" style="background-color: #457b9d;">
        <div id="navbarBrandDiv">
            <p class="navbar-brand" href="#"> <%= currentUser.companyName %></p>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto tabs">
                    <li class="nav-item active mr-2">
                        <a class="nav-link" href="/home">HOME<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="/tasks">TASKS <span class="badge badge-pill badge-light">
                            <% var counter = 0 %> 
                            <% if (currentUser2.notifications) { %>
                                <% currentUser2.notifications.forEach(function(notification){ %>
                                    <% if (!notification.isRead) { %>
                                        <% counter = counter + 1 %> 
                                    <% } %> 
                                <% }) %>
                                <%= counter  %>
                            <% } else { %>
                                <%= counter %>
                            <% } %>  
                        </span></a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link"  href="/myPerformance/<%= currentUser._id %> ">MY PERFORMANCE</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="/360feedback">360 FEEDBACK</a>
                    </li>
                    <% if(currentUser.privilege == "manager" || currentUser.privilege == "admin") { %>
                        <li class="nav-item mr-2">
                            <a class="nav-link" href="/employees">EMPLOYEES</a>
                        </li>
                    <% } %> 
                    
            </ul>
            <ul class="navbar-nav" style="margin-right: 5%">
                <% if (currentUser.privilege == "admin") { %>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-cog settings"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item dropdownColor" href="/manageAccount" >Manage Account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item dropdownColor" href="/manageUsers">Manage Users</a>
                        </div>
                    </li>
                <% } %> 
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-cog settings"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item dropdownColor" href="/employees/<%= currentUser.id %>/edit">View Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item dropdownColor" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="navbar navbar-toggleable-sm bg-inverse navbar-inverse fixed-top smart-scroll-two navbar2">
        <span class="navbar-brand nameJob" href="#"> <%= currentUser2.firstName %> <%= currentUser2.lastName %> <small><%= currentUser2.jobTitle %> </small></span>
    </nav>

    <% if (currentUser2.photo) { %>
        <img id="profilePic" src="<%= currentUser2.photo %> " class="img-fluid" alt="image">
    <% } else { %>
        <img id="profilePic" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="image">
    <% } %> 
    <div class="row justify-content-left mainRow">
        <div class="col-2 col-md-3 col-lg-2" id="personalInfo" >
            <% if (currentUser2.workPhoneNumber) { %>
                <p id="line1" ><i class="fas fa-briefcase"></i> <%= currentUser2.workPhoneNumber %></p>
            <% } %>
            <% if (currentUser2.mobilePhoneNumber) { %>
                <p ><i class="fas fa-mobile-alt"></i> <%= currentUser2.mobilePhoneNumber %></p>
            <% } %>
            <% if (currentUser2.email) { %>
                <p ><i class="fas fa-envelope"></i> <%= currentUser2.email %> </p>
            <% } %>
            <hr>
            <p class="heading">Hire Date</p>
            <p><%= currentUser2.hireDate %></p>
            <hr>
            <p ><i class="fas fa-thumbtack"></i> Part-time</p>
            <p ><i class="fas fa-user-friends"></i> <%= currentUser.privilege %></p>
            <% if (currentUser2.city && currentUser2.country) { %>
                <p ><i class="fas fa-map-marker-alt"></i> <%= currentUser2.city %>, <%= currentUser2.country %></p>
            <% } %>
            <hr>
            <% if (currentUser.privilege == "employee") { %>
                <p class="heading">Manager</p>
                <div class="row">
                    <div class="col-2 pl-2 pr-0">
                        <img class="employeesPic " src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-10 pl-0 besidePic">
                        <p id="besidePic" ><%= currentUser2.reportsTo %></p>
                    </div>
                </div>
            <% } %> 
            
            <% if (currentUser.privilege == "admin" && currentUser2.managers) { %> 
                <p id="suboordinates" class="heading">Subordinates</p>
                <% currentUser2.managers.forEach(function(manager){ %>
                    <div class="row">
                        <% if (manager.photo) { %>
                            <div class="col-2 pl-2 pr-0">
                                <img class="employeesPic " src="<%= manager.photo  %> " class="img-fluid" alt="Responsive image">
                            </div>
                        <% } else { %>
                            <div class="col-2 pl-2 pr-0">
                                <img class="employeesPic " src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="Responsive image">
                            </div>
                        <% } %>
                        <div class="col-10 pl-0 besidePic">
                            <p id="besidePic" > <%= manager.firstName  %> <%= manager.lastName  %> </p>
                        </div>
                    </div>
                <% }) %>
            <% } else if (currentUser.privilege == "manager" && currentUser2.employees) { %> 
                <p id="suboordinates" class="heading">Subordinates</p>
                <% currentUser2.employees.forEach(function(employee){ %>
                    <div class="row">
                        <% if (employee.photo) { %>
                            <div class="col-2 pl-2 pr-0">
                                <img class="employeesPic " src="<%= employee.photo  %> " class="img-fluid" alt="Responsive image">
                            </div>
                        <% } else { %>
                            <div class="col-2 pl-2 pr-0">
                                <img class="employeesPic " src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="Responsive image">
                            </div>
                        <% } %>
                        <div class="col-10 pl-0 besidePic">
                            <p id="besidePic" > <%= employee.firstName  %> <%= employee.lastName  %> </p>
                        </div>
                    </div> 
                <% }) %>
            <% } %>
            

        </div>
    </div>
      