<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/header.css">
<title>Title</title>
</head>
<body>

    <nav class="navbar fixed-top navbar-expand navbar-custom smart-scroll" style="background-color: #457b9d;">
        <div id="navbarBrandDiv">
            <p class="navbar-brand" href="#"> <%= currentUser.companyName %></p>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto tabs">
                    <li class="nav-item active mr-2">
                        <a class="nav-link" href="/home">HOME<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="/tasks">TASKS</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link"  href="/myPerformance">MY PERFORMANCE</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="/360feedback">360 FEEDBACK</a>
                    </li>
                    <% if(currentUser.isAdmin) { %>
                        <li class="nav-item mr-2">
                            <a class="nav-link" href="/employees">EMPLOYEES</a>
                        </li>
                    <% } %> 
                    
            </ul>
            <ul class="navbar-nav" style="margin-right: 5%">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog settings"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item dropdownColor" href="/manageAccount" >Manage Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item dropdownColor" href="/manageUsers">Manage Users</a>
                    </div>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-cog settings"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item dropdownColor" href="#">View Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item dropdownColor" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="navbar navbar-toggleable-sm bg-inverse navbar-inverse fixed-top smart-scroll-two navbar2">
        <span class="navbar-brand nameJob" href="#"> <%= currentUser.firstName %> <%= currentUser.lastName %> <small>CEO</small></span>
    </nav>

    <img id="profilePic" src="<%= currentUser.photo %> " class="img-fluid" alt="Responsive image">
    <div class="row justify-content-left mainRow">
        <div class="col-2 col-md-3 col-lg-2" id="personalInfo" >
            <p id="line1" ><i class="fas fa-briefcase"></i> <%= currentUser.workPhoneNumber %></p>
            <p ><i class="fas fa-mobile-alt"></i> <%= currentUser.mobilePhoneNumber %></p>
            <p ><i class="fas fa-envelope"></i> <%= currentUser.email %> </p>
            <hr>
            <p class="heading">Hire Date</p>
            <p><%= currentUser.hireDate %></p>
            <hr>
            <p ><i class="fas fa-thumbtack"></i> Part-time</p>
            <p ><i class="fas fa-user-friends"></i> Admin</p>
            <p ><i class="fas fa-map-marker-alt"></i> <%= currentUser.city %>, <%= currentUser.country %></p>
            <hr>
            <p class="heading">Manager</p>
            <div class="row">
                <div class="col-2 pl-2 pr-0">
                    <img class="employeesPic " src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-10 pl-0 besidePic">
                    <p id="besidePic" ><%= currentUser.reportsTo %></p>
                </div>
            </div>
            
            <p id="suboordinates" class="heading">Subordinates</p>
            <div class="row">
                <div class="col-2 pl-2 pr-0">
                    <img class="employeesPic " src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-10 pl-0 besidePic">
                    <p id="besidePic" >Jai Deshpande</p>
                </div>
            </div>
            <div class="row">
                <div class="col-2 pl-2 pr-0">
                    <img class="employeesPic " src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-10 pl-0 besidePic">
                    <p id="besidePic" >Shirish Deshpande</p>
                </div>
            </div>
        </div>
    </div>
      