<%- include ("./partials/header2") %> 

<div class="viewFeedbackDiv">
    <% if(error && error.length > 0) { %>
        <div class="alert alertError" role="alert">
            <%= error %> 
        </div>
    <% } %>
    <% if(success && success.length > 0) { %>
        <div class="alert alertSuccess" role="alert">
            <%= success %> 
        </div>
    <% } %>
    <div class="row">
        <div class="col-6">
            <h2>360 Feedback</h2>

            <div class="employeeFilter">
                <div class="redBarEmployee">
                    <span>Filters</span>
                </div>
                <form action="/360feedback" method="GET">
                    <div class="form-row employeeFilterRow">
                        <span>Employee</span>
                        <input type="text" class="form-control" name="employee" id="employeeName">
                        <input type="submit" value="Search" class="form-control" id="searchEmployee">
                        <span>Department</span>
                        <div class="dropdown findDepartmentDiv">
                            <a class="btn btn-secondary dropdown-toggle departmentDropdownBtn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span> ~All~</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        
            <div class="findEmployeesFeedback">
                <small class="ml-1" >Found 6 employees.</small>
                <div class="row mt-4 no-gutters">
                    <div class="col-2"> 
                    </div>
                    <div class="col-3">
                        <h3>Employee</h3>
                    </div>
                    <div class="col-4">
                        <h3>Send Feedback Form</h3>
                    </div>
                    <div class="col-3">
                        <h3>Give Feedback</h3>  
                    </div>
                </div>
                <hr>
                <% users.forEach(function(user){ %>
                    <% if(user.userId != currentUser._id) { %>
                        <div class="row mt-2 mb-3 no-gutters"> 
                            <div class="col-2 pl-1 pl-xl-4"> 
                                <% if (user.photo) { %>
                                    <img class="profilePicFeedbackPage" src="<%= user.photo %> " class="img-fluid" alt="image">
                                <% } else { %>
                                    <img class="profilePicFeedbackPage" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="image">
                                <% } %> 
                            </div>
                            <div class="col-3 employeeNameFeedback mt-3">
                                <h3><%= user.firstName %> <%= user.lastName %> </h3>
                            </div>
                            <div class="col-4 mt-2 pr-5">
                                <form action="/360feedback/sendFeedback/<%= user.userId %>" method="POST" style="display: inline" id="form1">
                                    <button class="btn sendButton w-100" id="test"><i class="fas fa-share pr-2" ></i>Send</button>
                                </form>    
                            </div>
                            
                            <% for (var i = 0; i < user.sendFeedbackFormTo.length ; i++) { %>
                                <% if(user.sendFeedbackFormTo[i] == currentUser._id) { %>
                                            <div class="col-2 mt-2 pr-4 input-group">
                                                <a class="btn viewButton w-100 " href="/360feedback/<%= user.userId%> "><i class="fas fa-eye pr-2" ></i>View</a>
                                            </div>
                                <% } %> 
                            <% } %>
    
                        </div>
                        <hr>
                    <% } %> 
                <% })  %> 
            </div>
        </div>
        <% if (currentUser2.viewFeedback != null)  { %>
            <div class="col-6">
                <div class="giveFeedbackDiv">  
                    <div class="row mb-2 no-gutters">
                        <div class="col-1 col-md-2 col-lg-2 col-xl-1 mr-xl-2">
                            <img class="profilePicPeerReview" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="col-10 mt-3">
                            <h3>Give Feedback for: <%= feedback.firstName %> <%= feedback.lastName %></h3>
                        </div>  
                    </div>
    
                    <form action="360feedback/<%= feedback.id %>" method="POST">
                        <div class="form-group">
                            <label for="prosTextArea">What are some things that <%= feedback.firstName %> does well?</label>
                            <textarea name="pros" id="prosTextArea" cols="30" rows="9" class="form-control"><%= feedback.pros %></textarea>
                        </div>
                        <div class="form-group">
                            <label for="consTextArea">How could <%= feedback.firstName %> improve?</label>
                            <textarea name="cons" id="consTextArea" cols="30" rows="9" class="form-control"><%= feedback.cons %> </textarea> 
                        </div>
                        <button class="btn submitFeedback mr-2">Submit</button>
                        <button class="btn saveFeedback">Save & Finish Later</button>
                    </form>                 
                </div>
            </div>
        <% } %> 
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script>

// var buttons = document.querySelectorAll(".sendButton");
// for ( var counter = 0; counter < buttons.length; counter++)
// {
//     buttons[counter].addEventListener("click", function(){
      
//    });
// }


$(document).ready(function() {  
    var someVarName = localStorage.getItem("someVarKey");
    var clickedViewButton = localStorage.getItem("clickedViewButtonKey");
    var something = localStorage.getItem("something");

    if ( someVarName == "value" ) {
        // $(".sendButton").attr('id', 'thing');
        // $(`#${something}`).hide();

    }

    if ( clickedViewButton == "true" ) {
        $(".giveFeedbackDiv").toggle();
        localStorage.setItem("clickedViewButtonKey", "false");
    }

        // add padding top to show content behind navbar
    $('body').css('padding-top', $('.navbar').outerHeight() + 'px')

    // detect scroll top or down
    if ($('.smart-scroll').length > 0) { // check if element exists
        var last_scroll_top = 0;
        $(window).on('scroll', function() {
            scroll_top = $(this).scrollTop();
            if(scroll_top < last_scroll_top) {
                $('.smart-scroll').removeClass('scrolled-down').addClass('scrolled-up');
            }
            else {
                $('.smart-scroll').removeClass('scrolled-up').addClass('scrolled-down');
            }
            last_scroll_top = scroll_top;
        });
    }
});

$(".sendButton").on("click", function() { 
    var counter = 2;
    var someVarName = "value";
    var something = this.id;
    localStorage.setItem("someVarKey", someVarName);
    localStorage.setItem("something", something);
    
});


$(".viewButton").on("click", function() {
    var clickedViewButton = "true";
    localStorage.setItem("clickedViewButtonKey", clickedViewButton);
    // $(".giveFeedbackDiv").toggle();
});

$(".saveFeedback").on("click", function() {
    $(".giveFeedbackDiv").toggle();
});


  





 
</script>

    </body>
    </html>