<%- include ("./partials/header") %> 

<div class="content">
    <h1>Profile</h1>
    <div class="addEmployeeForm">
        <div class="editProfileDiv">
            
            
            <form action="/employees/<%= userId %>?_method=PUT" method="POST">
                <h4>Personal</h4>
                <hr>

                <div class="indentedInfo">
                    <div class="row pl-3 mb-3">
                        <div class="form-group mr-2 mb-0">
                            <label class="mb-0" for="">Photo URL</label>
                            <input type="text" name="photo" placeholder="photo url" class="form-control " value="<%= user.photo  %> ">
                        </div>  
                    </div>
                    <label class="mb-0" for="">Name</label>
                    <div class="row pl-3 mb-3">
                        <input type="text" class="form-control standardInputSize mr-2" name="firstName" value="<%= user.firstName%>">
                        <input type="text" class="form-control standardInputSize mr-2" name="middleName" value="<%= user.middleName%>">
                        <input type="text" class="form-control standardInputSize mr-2" name="lastName" value="<%= user.lastName%>">
                    </div>
                    <label class="mb-0" for="">Gender</label>
                    <div class="row pl-3 mb-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle selectBtn selection1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ~Select~   
                            </button>
                            <div class="dropdown-menu menu1" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" >Male</a>
                            <a class="dropdown-item" >Female</a>
                            <a class="dropdown-item" >Other</a>
                            </div>
                        </div>                      
                    </div>
                    <label class="mb-0" for="">Hire Date</label>
                    <div class="row pl-3 mb-3">
                        <input type="text" name="hireDate" class="form-control standardInputSize mr-2" value="<%= user.hireDate%>">
                    </div>
                    <div class="row pl-3 mb-3">
                        <div class="form-group mr-2 mb-0">
                            <label class="mb-0" for="">Address</label>
                            <input type="text" class="form-control " name="address" value="<%= user.address%>">
                        </div>
                        <div class="form-group mr-2 mb-0">
                            <label class="mb-0" for="">City</label>
                            <input type="text" class="form-control  mr-2" name="city" value="<%= user.city%>">
                        </div>
                        <div class="form-group mr-2 mb-0">
                            <label class="mb-0" for="">Postal Code</label>
                            <input type="text" class="form-control mr-2" name="postalCode" value="<%= user.postalCode%>">
                        </div>
                        <div class="form-group mr-2 mb-0">
                            <label class="mb-0" for="">Country</label>
                            <input type="text" class="form-control mr-2" name="country" value="<%= user.country%>">
                        </div>
                    </div>
                    <label class="mb-0" for="">Work Email</label>
                    <div class="row pl-3 mb-3">
                        <input type="text" class="form-control standardInputSize mr-2" name="email" value="<%= user.email%>">
                    </div>
                    <div class="row pl-3 mb-3">
                        <div class="form-group mr-2 mb-0">
                            <label class="mb-0" for="">Mobile Phone Number</label>
                            <input type="text" name="mobilePhoneNumber" class="form-control " value="<%= user.mobilePhoneNumber%>">
                        </div>
                        <div class="form-group mr-2 mb-0">
                            <label class="mb-0" for="">Work Phone Number</label>
                            <input type="text" name="workPhoneNumber" class="form-control  mr-2" value="<%= user.workPhoneNumber%>">
                        </div>
                    </div>
                </div>

                <h4>Job Information</h4>
                <hr>

                <div class="indentedInfo">
                    <label class="mb-2" for="">Department</label>
                    <div class="row pl-3 mb-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle selectBtn selection2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ~Select~   
                            </button>
                            <div class="dropdown-menu menu2" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" >Engineering</a>
                            <a class="dropdown-item" >Sales</a>
                            <a class="dropdown-item" >Smarketing</a>
                            </div>
                        </div>
                        <% if (currentUser.privilege == "admin") { %>
                            <a class="ml-3" href="">Manage Users</a>
                        <% } %> 
                    </div>
                    <div class="row pl-3 mb-3">
                        <div class="form-group mr-2 mb-0">
                            <label class="mb-0" for="">Job Title</label>
                            <input type="text"  class="form-control " name="jobTitle" value="<%= user.jobTitle%>">
                        </div>
                        <div class="form-group mr-2 mb-0">
                            <label class="mb-0" for="">Reports To</label>
                            <input type="text" class="form-control  mr-2" name="reportsTo" value="<%= user.reportsTo%>">
                        </div>
                        <div class="form-group mr-2 mb-0">
                            <label class="mb-0" for="">Manager</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle selectBtn selection3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ~Select~   
                                </button>
                                <div class="dropdown-menu menu3" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" >Yes</a>
                                    <a class="dropdown-item" >No</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label class="mb-2" for="">Working Status</label>
                    <div class="row pl-3 mb-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle selectBtn selection4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ~Select~   
                            </button>
                            <div class="dropdown-menu menu4" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" >Full-time</a>
                                <a class="dropdown-item" >Part-time</a>
                            </div>
                        </div>
                    </div>
                </div>

                <h4>Account Details</h4>
                <hr>

                <div class="indentedInfo">
                    <% if (currentUser.privilege == "admin") { %> 
                        <label class="mb-2" for="">Privleges</label>
                        <div class="boxPrivleges mb-4">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="admin" id="Administrator" name="privilege">
                                <label class="form-check-label" for="Administrator">Administrator</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="hr" id="hr" name="privilege">
                                <label class="form-check-label" for="hr">HR</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="manager" id="manager" name="privilege">
                                <label class="form-check-label" for="manager">Manager</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="employee" id="Employee" name="privilege">
                                <label class="form-check-label" for="Employee">Employee</label>
                            </div>
                        </div>
                    <% } %> 
                    <button class="btn saveEmployeeBtn">Save</button>
                    <button class="btn cancelEmployeeBtn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script>
    $(function () {
    $(".menu1 a").click(function () {
        var selText1 = $(this).text();
         $(".selection1").html(selText1);
        //  $(".menu1").val(selText1);

         $.ajax({
            url:'localhost:3000/employees/create',
            type: "POST",
            data:{
                button: $('button[name="button"]').attr('name')
            },
            success:function(data){
                console.log(data); // logs the response from the server.
            },
            error:function(){
                console.log("there was an error in the ajax request");
            }
        });
    })
})

$(function () {
    $(".menu2 a").click(function () {
        var selText2 = $(this).text();
         $(".selection2").html(selText2);
    })
})

$(function () {
    $(".menu3 a").click(function () {
        var selText3 = $(this).text();
         $(".selection3").html(selText3);
    })
})

$(function () {
    $(".menu4 a").click(function () {
        var selText4 = $(this).text();
         $(".selection4").html(selText4);
    })
})

// add padding top to show content behind navbar
$('body').css('padding-top', $('.navbar').outerHeight() + 'px')

// detect scroll top or down
if ($('.smart-scroll').length > 0) { // check if element exists
    var last_scroll_top = 0;
    $(window).on('scroll', function() {
        scroll_top = $(this).scrollTop();
        if(scroll_top < last_scroll_top) {
            $('.smart-scroll').removeClass('scrolled-down').addClass('scrolled-up');
        }
        else {
            $('.smart-scroll').removeClass('scrolled-up').addClass('scrolled-down');
        }
        last_scroll_top = scroll_top;
    });
}
</script>

    </body>
    </html>