<%- include ("./partials/header2") %> 

<div class="header2container">
    <div id="addingEmployeesDiv" class="d-flex flex-row">
        <h2 style="font-weight: 600; display: inline;">Employees</h2>
        <% if (currentUser.privilege == "admin") { %>
            <a class="btn align-self-start" id="addEmployeeBtn" href="/employees/new"><i class="fas fa-plus" ></i>  Add Employee</a>
        <% } %>
    </div>
    <div class="employeeFilter">
        <div class="redBarEmployee">
            <span>Filters</span>
        </div>
        <div class="greyBarEmployee">
            <form action="/employees" method="GET">
                <div class="form-row">
                    <span>Employee</span>
                    <input type="text" class="form-control" name="employee" id="employeeName">
                    <input type="submit" value="Search" class="form-control" id="searchEmployee">
                    <span>Department</span>
                    <div class="dropdown findDepartmentDiv">
                        <a class="btn btn-secondary dropdown-toggle departmentDropdownBtn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span> ~All~</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="findEmployees">
        <p id="numOfEmployeesFound">Found 5 employees.</p>
        <div class="row tableHeading">
                <div class="col-3">
                    <span >Employee</span>
                </div>
                <div class="col-5 ">
                    <span >Performance Review</span>
                </div>
                <div class="col-1 mr-2 ml-2 col-md-2 col-lg-1">
                    <span >Goals</span>
                </div>
                <div class="col-2 col-md-1 col-lg-2">
                    <span >360 Feedback</span>
                </div>
        </div>

        <hr class="hrManagers">

        <% suboordinates.forEach(function(suboordinate) { %>
            <div class="row">
                <div class="col-1 pr-0 mr-4">
                    <% if (suboordinate.photo) { %>
                        <img class="profilePicEmployeePage" src="<%= suboordinate.photo %> " class="img-fluid" alt="image">
                    <% } else { %>
                        <img class="profilePicEmployeePage" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="image">
                    <% } %> 
                </div>
                <div class="col-2 pl-0 pr-0 ml-2  mt-md-2 mt-lg-3">
                    <span class="nameOfEmployee"><%= suboordinate.firstName  %> <% suboordinate.lastName %> </span>
                </div>
                <div class="col-4 mr-2 pl-0 pr-0 ml-4 pl-2 mt-md-2 mt-lg-2">
                    <span class="newAppraisals pl-3">
                        <% if (suboordinate.sentPerformanceReview) { %> 
                            <a class="btn view" href="/myPerformance/<%= suboordinate.userId%> "><i class="fas fa-chart-bar employeeIcon"></i>  New Performance Appraisal</a>
                        <% } else { %>
                            ~No New Appraisals~
                        <% } %>  
                    </span>
                </div>
                <div class="col-md-auto pl-0 pl-0 mt-2 viewEmployeesGoal">
                    <a class="btn view" href="/myPerformance/<%= suboordinate.userId%> "><i class="fas fa-eye eyeIcon"></i> View</a>
                </div>
                <div class="col-2 mt-2 feedbackEmployee">
                    <a class="btn feedback" href="/myPerformance/<%= suboordinate.userId%> "><i class="fas fa-history feedbackIcon"></i> Logs</a>
                </div>
            </div>
            <hr class="hrManagers">
        <% }) %> 
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>








  // add padding top to show content behind navbar
$('body').css('padding-top', $('.navbar').outerHeight() + 'px')

// detect scroll top or down
if ($('.smart-scroll').length > 0) { // check if element exists
var last_scroll_top = 0;
$(window).on('scroll', function() {
    scroll_top = $(this).scrollTop();
    if(scroll_top < last_scroll_top) {
        $('.smart-scroll').removeClass('scrolled-down').addClass('scrolled-up');
    }
    else {
        $('.smart-scroll').removeClass('scrolled-up').addClass('scrolled-down');
    }
    last_scroll_top = scroll_top;
});
}
</script>
</body>
</html>