<%- include ("./partials/header") %> 



<div class="content">
    <% if(error && error.length > 0) { %>
        <div class="alert alertError" role="alert">
            <%= error %> 
        </div>
    <% } %>
    <% if(success && success.length > 0) { %>
        <div class="alert alertSuccess" role="alert">
            <%= success %> 
        </div>
    <% } %>
    <div class="divNavTab">
        <ul class="nav nav-tabs">
            <div class="row no-gutters w-100">
                <div class="col-1 col-md-1 col-lg-1 col-xl-1 mr-md-4 mr-lg-4 mr-xl-0">   
                    <a id="goalsHeading" class="nav-item nav-link" data-toggle="tab" href="#goals"><i class="fas fa-bullseye"></i>   Goals</a>
                </div>
                <div class="col-2 col-md-2 col-lg-2 col-xl-1 mr-md-4 mr-lg-3 mr-xl-0 mr-xl-5">   
                    <a  id="assessmentHeading" class="nav-item nav-link " data-toggle="tab" href="#assessment"><i class="fas fa-tachometer-alt"></i>   Asssessment</a>
                </div>
                
                <% var isCurrentUsersManager = false %>

                <% if (currentUser.privilege == "admin") { %>
                    <% for (var i = 0; i < currentUser2.managers.length; i++) { %>
                        <% if(currentUser2.managers[i].userId == userId) { %> 
                            <% isCurrentUsersManager = true %> 
                        <% } %> 
                    <% }%> 
                <% } else if (currentUser.privilege == "manager" && currentUser2.employees) { %>
                    <% for (var i = 0; i < currentUser2.employees.length; i++) { %>
                        <% if(currentUser2.employees[i].userId == userId) { %>
                            <% isCurrentUsersManager = true %> 
                        <% } %> 
                    <% }%> 
                <% } %>

                <% if (isCurrentUsersManager) { %>
                    <div class="col-7 col-md-4 col-lg-5 col-xl-6">   
                        <a id="feedbackHeading" class="nav-item nav-link " data-toggle="tab" href="#feedback"><i class="fas fa-globe"></i>   360 Feedback</a>
                    </div>
                <% } else { %>
                    <div class="col-7 col-md-4 col-lg-5 col-xl-6"></div>
                <% } %> 

                <div class="col-md-auto marginDropDown">   
                    <p class="mb-0">Review Period</p>
                    <div class="dropdown">
                        <button id="dropdownBtn" class="btn btn-primary dropdown-toggle btn-sm reviewPeriodBtnColor" data-toggle="dropdown">Dec 4, 2020 - Feb 8, 2021</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" data-toggle="dropdown" href="#pastAssessment">Mar 4, 2020 - Nov 28, 2020</a>
                            <a class="dropdown-item" data-toggle="dropdown"  href="#">Aug 15, 2020 - Sep 15, 2020</a>
                            <a class="dropdown-item" data-toggle="dropdown"  href="#">Jul 1, Aug 2, 2020</a>
                         </div>
                     </div>
                </div>  
            </div>
        </ul>
    </div>
</div>

    <div class="tab-content" id="nav-tabContent">

        <div id="goals" class="tab-pane fade in">
           
            <button id="addGoalBtn" class="btn" ><i class="fas fa-plus"></i> <span> Add a Goal</span> </button>
            <hr>

            <div class="newGoalDiv">
                <form action="/myPerformance/goals/create/<%= userId %> " method="POST">
                    <div class="row no-gutters">
                        <div class="col-auto ml-3 mt-3 mr-2">
                            <i class="fas fa-bullseye"></i> 
                        </div>
                        <div class="col-5 mt-2 mb-0">
                            <h2>Add a New Goal</h2>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-auto">
                        </div>
                        <div class="col-8 mt-2 ml-5 pr-5">
                            <div id="titleForm" class="form-group pl-3">
                                <Label class="labels" for="title">Title</Label>
                                <input class="form-control" type="text" name="title" id="title">
                            </div>
                        </div>
                        <div class="col mt-2 pr-5 ">
                            <div class="form-group">
                                <Label class="labels" for="dueDate">Due Date</Label>
                                <input class="form-control" type="text" name="dueDate" id="dueDate" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-auto">
                        </div>
                        <div class="col ml-5 mt-0 pr-5">
                             <div id="goalDesDiv" class="form-group pl-3">
                                <Label class="labels" for="goal">Goal</Label>
                                <input class="form-control" type="text" name="description" id="goal" placeholder="Detail a S.M.A.R.T goal that you want to accomplish">
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-auto">
                        </div>
                        <div class="col-2 ml-5">
                            <div class="form-group pl-3 mr-2">
                                <button id="saveGoal" class="btn pl-3 w-100">Save</button>
                            </div>
                        </div>
                        <div class="col-2 mr-3">
                            <button id="cancelGoal" class="btn w-100">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>

            <% goals.forEach(function(goal){ %>
                    <div class="goalsCommentsDiv">
                        <div class="row no-gutters">
                            <div class="col-auto">
                            </div>
                            <div class="col-8 mt-2 ml-5 pr-5">
                                <h2><%= goal.title %> </h2>
                            </div>
                        </div>
                        <div class="indented-content">
                            <small><%= goal.description %></small>
                            <div class="progress">
                                <!-- <input type="range" min="1" max="100" value=1" class="slider" id="myRange"> -->
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                            <% for (var i = 0; i < goal.comments.length; i++) { %>
                                <div class="comment">
                                    <div class="row no-gutters">
                                        <div class="col-1 mt-2 ml-2 mr-md-5 mr-lg-4 mr-xl-0">
                                            <% if (goal.comments[i].photo) { %>
                                                <img class="profilePicComment" src="<%= goal.comments[i].photo %> " class="img-fluid" alt="image">
                                            <% } else { %>
                                                <img class="profilePicComment" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="image">
                                            <% } %> 
                                        </div>
                                        <div class="col-8 col-md-7 col-lg-8">
                                            <p class="nameOfPerson mb-0 mt-4" > <%= goal.comments[i].author.username %>  Oct 25, 2020 8:44 PM</p>
                                            <p class="commentDetail ml-2" ><%= goal.comments[i].description %> </p>
                                        </div>
                                        <div class="col-2 ml-md-4 ml-lg-0 ml-xl-5"> 
                                            <% if (i == 0) { %>
                                                <span id="dueDateGoal" ><%= goal.dueDate %> </span>
                                            <% } %> 
                                        </div>
                                    </div>
                                </div>
                            <% }  %> 
                            <div class="addComment">
                                <form action="/myPerformance/goals/<%= goal._id %>/comments/create/<%= userId %> " method="POST">
                                    <div class="row no-gutters">
                                        <div class="col-1 mt-1 ml-3 mr-md-5 mr-lg-4 mr-xl-0">
                                            <% if (currentUser2.photo) { %>
                                                <img id="addCommentProfilePic" src="<%= currentUser2.photo %> " class="img-fluid" alt="image">
                                            <% } else { %>
                                                <img id="addCommentProfilePic" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="image">
                                            <% } %> 
                                        </div>
                                        <div class="col-9 col-md-7 col-lg-7 mt-2">
                                            <input id="comment[addingAComment]" name="comment[description]" class="form-control" type="text" placeholder="Add a Comment">
                                        </div>
                                        <div class="col-2 ml-md-4 ml-lg-5 ml-xl-5 mt-2">
                                            <button class="btn w-100 postComment" type="submit"><i class="fas fa-paper-plane"></i> <span> Post</span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                <% })  %> 
            
        </div>
    

        <div id="assessment" class="tab-pane fade in">
            <div class="row assessmentRow">
                <div class="col-6 ">
                    <% if(sendForm && suboordinate.sentPerformanceReview == false) { %> 
                        <div class="selfAssessment">
                            <form class="selfAssessmentForm" action="/selfAssessment/create" method="POST">
                                <div class="form-row">
                                    <div class="col-2 col-xl-1">
                                        <i class="fas fa-portrait"></i>
                                    </div>
                                    <div class="col-10">
                                        <h2>Self Assessment</h2>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="labelMargin">How well does Company recognize my value?</label>
                                    <select class="custom-select">
                                        <option selected>~Select~</option>
                                        <option value="1">Very well</option>
                                        <option value="2">Okay</option>
                                        <option value="3">Not Good</option>
                                    </select>
                                </div>  
                                <div class="form-group">
                                    <label class="labelMargin">What would have the greatest impact on my ability to do my best work?</label>
                                    <select class="custom-select">
                                        <option selected>~Select~</option>
                                        <option value="1">Very well</option>
                                        <option value="2">Okay</option>
                                        <option value="3">Not Good</option>
                                    </select>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label class="labelMargin"  for="pros">What are some things that I do well?</label>
                                    <input type="text" name="pros" id="pros" class="form-control selfAssessmentInput">
                                </div>
                                <div class="form-group">
                                    <label class="labelMargin"  for="cons">How could I improve?</label>
                                    <input type="text" name="cons" id="cons" class="form-control selfAssessmentInput">
                                </div>
                                <div class="form-group">
                                    <label class="labelMargin"  for="projects">What has been your favourite project this quarter?</label>
                                    <input type="text" name="project" id="projects" class="form-control selfAssessmentInput">
                                </div>
                                <div class="row no-gutters ">
                                    <div class="col-2 col-md-4 col-lg-3 col-xl-1 mr-xl-5">   
                                        <button class="btn submitAssessment">Submit</button>
                                    </div>
                                    <div class="col-5 col-md-7 col-lg-7">   
                                        <button class="btn saveAssessment">Save & Finish Later</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    <%  } else if (sendForm && suboordinate.sentPerformanceReview && isCurrentUsersManager || suboordinate.recievePerformanceReview) { %>
                        <% for (var i = (assessments.length -1); i < assessments.length; i++) { %>
                            <div class="peerFeedback">
                                <div class="row no-gutters">
                                    <div class="col-2 col-md-2 col-lg-1 col-xl-1 mr-md-3 mr-lg-2 mr-xl-3">
                                        <i class="fas fa-portrait" style="font-size: 3.7rem; color: #457b9d;"></i>
                                    </div>
                                    <div class="col-9 col-md-9 col-lg-8 col-xl-9 mt-3">
                                        <h2>Self Assessment</h2>
                                        <p>Completed: jan 8, 2020 at 2:12PM </p>
                                    </div>
                                </div>
                                <hr>
                                <h3>How well does <%= currentUser2.companyName %> recognize my value?</h3>
                                <p>this is filler text till i can figure out how to get the text from the dropdown and pass it to th post request</p>
                                <h3>What would have the greatest impact on my ability to do my best work?</h3>
                                <p>this is filler text till i can figure out how to get the text from the dropdown and pass it to th post request</p>
                                <h3>What are some things that I do well?</h3>
                                <p> <%=assessments[i].pros%> </p>
                                <h3>How could I improve?</h3>
                                <p><%=assessments[i].cons%></p>
                                <h3>What has been your favourite project this quarter?</h3>
                                <p><%=assessments[i].project%></p>
                            </div>
                        <% } %> 
                    <% } else {  %> 
                        <div class="fadedSelfAssessment">
                            <div class="form-row">
                                <div class="col-2 ">
                                    <i class="fas fa-portrait"></i>
                                </div>
                                <div class="col-10">
                                    <h2>Self Assessment</h2>
                                </div>
                            </div>
                            <hr>
                            <p class="lightText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde aliquid ipsum, natus molestiae error corporis cumque neque impedit repellendus provident temporibus exercitationem facilis quasi tempore totam voluptates omnis veritatis aut perspiciatis expedita ex ut necessitatibus. Perspiciatis excepturi, rerum officiis iure nulla reprehenderit quos repudiandae earum labore. Sint sunt rerum provident amet. Provident exercitationem ipsam modi nostrum eveniet hic, voluptates, perferendis optio, velit nesciunt officia quod qui quas nobis odit tempora omnis fugit? Officia minima tempora delectus quisquam labore, laboriosam minus quos molestias ullam dolore veniam iure quo dignissimos. Voluptas voluptatum veniam sequi deleniti minima qui velit ullam aspernatur temporibus ipsa!</p>
                            <p class="lightText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde aliquid ipsum, natus molestiae error corporis cumque neque impedit repellendus provident temporibus exercitationem facilis quasi tempore totam voluptates omnis veritatis aut perspiciatis expedita ex ut necessitatibus. Perspiciatis excepturi, rerum officiis iure nulla reprehenderit quos repudiandae earum labore. Sint sunt rerum provident amet. Provident exercitationem ipsam modi nostrum eveniet hic, voluptates, perferendis optio, velit nesciunt officia quod qui quas nobis odit tempora omnis fugit? Officia minima tempora delectus quisquam labore, laboriosam minus quos molestias ullam dolore veniam iure quo dignissimos. Voluptas voluptatum veniam sequi deleniti minima qui velit ullam aspernatur temporibus ipsa!</p>
                            <p class="lightText">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad ex illum iusto eaque quos perspiciatis voluptas laudantium, incidunt nostrum modi, sed quam minus nesciunt, delectus sapiente culpa repellat reprehenderit accusamus dolor esse. Sunt eaque beatae distinctio cum corrupti nostrum praesentium quisquam necessitatibus, alias sapiente, temporibus est nesciunt, doloremque voluptas dolorem sint veniam quaerat non eum quidem tenetur quis accusamus officiis! Exercitationem assumenda voluptatem quae a perferendis rem, amet ad earum temporibus, dolor error ut obcaecati modi facere qui voluptatibus molestias debitis rerum similique nemo omnis vel. Sed aut rem expedita aperiam asperiores, labore animi. Accusamus dolor ipsum esse harum, quas recusandae quaerat corporis laborum sit unde, magnam beatae consectetur! Obcaecati voluptas omnis velit praesentium modi sint incidunt ab dolorum? Quod modi, dignissimos earum doloremque animi delectus atque ea cupiditate et expedita quibusdam quos natus magni tempore optio debitis perferendis ipsum aperiam rem. Qui numquam nisi eius reiciendis assumenda omnis ducimus.</p>
                            <i class="fas fa-portrait middleIcon"></i>
                            <p class="userWarning" >No new assessments need to be filled out</p>
                        </div>
                    <%  }   %> 
                </div>
                <div class="col-6">
                    <% if (sendForm && suboordinate.sentPerformanceReview && isCurrentUsersManager && !suboordinate.recievePerformanceReview) { %>
                        <div class="selfAssessment">
                            <form class="selfAssessmentForm" action="/managerAssessment/<%= suboordinate.userId %> " method="POST">
                                <div class="form-row">
                                    <div class="col-2 col-xl-1 mr-xl-4">
                                        <i class="fas fa-id-card"></i>
                                    </div>
                                    <div class="col-10">
                                        <h2>Manager Assessment</h2>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="labelMargin"  for="employeePros">What are some things your employee does well?</label>
                                    <input type="text" name="employeePros" id="employeePros" class="form-control selfAssessmentInput">
                                </div>
                                <div class="form-group">
                                    <label class="labelMargin"  for="employeeCons">How could they improve?</label>
                                    <input type="text" name="employeeCons" id="employeeCons" class="form-control selfAssessmentInput">
                                </div>
                                <div class="row no-gutters ">
                                    <div class="col-2 col-md-4 col-lg-3 col-xl-1 mr-xl-5">   
                                        <input type="submit" class="btn submitManagerAssessment">
                                    </div>
                                    <div class="col-5 col-md-7 col-lg-7">   
                                        <button class="btn saveManagerAssessment">Save & Finish Later</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    <% } else if (!sendForm && suboordinate.recievePerformanceReview) { %>
                        <% for (var i = (managerAssessments.length -1); i < managerAssessments.length; i++) { %>
                            <div class="peerFeedback">
                                <div class="row no-gutters">
                                    <div class="col-2 col-md-2 col-lg-1 col-xl-1 mr-md-3 mr-lg-2 mr-xl-3">
                                        <i class="fas fa-id-card" style="font-size: 3.7rem; color: #457b9d;"></i>
                                    </div>
                                    <div class="col-9 col-md-9 col-lg-8 col-xl-9 mt-3">
                                        <h2>Manager Assessment</h2>
                                        <p>Completed: jan 8, 2020 at 2:12PM </p>
                                    </div>
                                </div>
                                <hr>
                                <h3>What are some things your employee does well?</h3>
                                <p><%= managerAssessments[i].pros  %> </p>
                                <h3>How could they improve?</h3>
                                <p><%= managerAssessments[i].cons  %></p>
                            </div>
                        <% } %> 
                    <% }  else { %>
                        <div class="managerAssessment">
                            <div class="form-row">
                                <div class="col-2 ">
                                    <i class="fas fa-id-card"></i>
                                </div>
                                <div class="col-10">
                                    <h2>Manager Assessment</h2>
                                </div>
                            </div>
                            <hr>
                            <p class="lightText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde aliquid ipsum, natus molestiae error corporis cumque neque impedit repellendus provident temporibus exercitationem facilis quasi tempore totam voluptates omnis veritatis aut perspiciatis expedita ex ut necessitatibus. Perspiciatis excepturi, rerum officiis iure nulla reprehenderit quos repudiandae earum labore. Sint sunt rerum provident amet. Provident exercitationem ipsam modi nostrum eveniet hic, voluptates, perferendis optio, velit nesciunt officia quod qui quas nobis odit tempora omnis fugit? Officia minima tempora delectus quisquam labore, laboriosam minus quos molestias ullam dolore veniam iure quo dignissimos. Voluptas voluptatum veniam sequi deleniti minima qui velit ullam aspernatur temporibus ipsa!</p>
                            <p class="lightText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde aliquid ipsum, natus molestiae error corporis cumque neque impedit repellendus provident temporibus exercitationem facilis quasi tempore totam voluptates omnis veritatis aut perspiciatis expedita ex ut necessitatibus. Perspiciatis excepturi, rerum officiis iure nulla reprehenderit quos repudiandae earum labore. Sint sunt rerum provident amet. Provident exercitationem ipsam modi nostrum eveniet hic, voluptates, perferendis optio, velit nesciunt officia quod qui quas nobis odit tempora omnis fugit? Officia minima tempora delectus quisquam labore, laboriosam minus quos molestias ullam dolore veniam iure quo dignissimos. Voluptas voluptatum veniam sequi deleniti minima qui velit ullam aspernatur temporibus ipsa!</p>
                            <p class="lightText">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad ex illum iusto eaque quos perspiciatis voluptas laudantium, incidunt nostrum modi, sed quam minus nesciunt, delectus sapiente culpa repellat reprehenderit accusamus dolor esse. Sunt eaque beatae distinctio cum corrupti nostrum praesentium quisquam necessitatibus, alias sapiente, temporibus est nesciunt, doloremque voluptas dolorem sint veniam quaerat non eum quidem tenetur quis accusamus officiis! Exercitationem assumenda voluptatem quae a perferendis rem, amet ad earum temporibus, dolor error ut obcaecati modi facere qui voluptatibus molestias debitis rerum similique nemo omnis vel. Sed aut rem expedita aperiam asperiores, labore animi. Accusamus dolor ipsum esse harum, quas recusandae quaerat corporis laborum sit unde, magnam beatae consectetur! Obcaecati voluptas omnis velit praesentium modi sint incidunt ab dolorum? Quod modi, dignissimos earum doloremque animi delectus atque ea cupiditate et expedita quibusdam quos natus magni tempore optio debitis perferendis ipsum aperiam rem. Qui numquam nisi eius reiciendis assumenda omnis ducimus.</p>
                            <i class="fas fa-id-card middleIcon"></i>
                            <p class="userWarning" >Manager Assessment will show here once completed</p>
                        </div>
                    <% } %> 
                </div>
            </div>
        </div>

        
        <div id="feedback" class="tab-pane fade in ">
            <div class="row">
                <% feedbacks.forEach(function(feedback) { %>
                    <div class="col-6">
                        <div class="peerFeedback">
                            <div class="row no-gutters">
                                <div class="col-2 col-md-2 col-lg-1 col-xl-1 mr-md-3 mr-lg-2 mr-xl-3">
                                    <img class="profilePicPeerReview" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="Responsive image">
                                </div>
                                <div class="col-9 col-md-9 col-lg-8 col-xl-9 mt-3">
                                    <h2><%= feedback.reviewedByFirstName %> <%= feedback.reviewedByLastName %></h2>
                                    <p id="feedbackCompletedDate" >Completed: <%= feedback.completedAt %> </p>
                                </div>
                            </div>
                            <hr>
                            <h3>What are some things that <%= currentUser.firstName %> does well?</h3>
                            <p><%= feedback.pros %> </p>
                            <h3>How could <%= currentUser.firstName%> improve?</h3>
                            <p><%= feedback.cons %></p>
                        </div>
                    </div>
                <% }) %> 
            </div>
        </div>
    

    </div>


            
    
            



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/js-datepicker"></script>
    
    <script>

$(document).ready(function() {  
    var addedGoal = localStorage.getItem("addedGoalKey");
    var postComment = localStorage.getItem("postCommentKey");
    var submitAssessment = localStorage.getItem("submitAssessmentKey");


    if ( addedGoal == "true" ) {
        $('#goalsHeading').tab('show')
        localStorage.setItem("addedGoalKey", "false");  
    }

    if ( postComment == "true" ) {
        $('#goalsHeading').tab('show');
        document.getElementById("goals").style.top = "33.5vh";
        localStorage.setItem("postCommentKey", "false");  
    }

    if ( submitAssessment == "true" ) {
        $('#assessmentHeading').tab('show');
        localStorage.setItem("submitAssessmentKey", "false");  
    }

        // add padding top to show content behind navbar
    $('body').css('padding-top', $('.navbar').outerHeight() + 'px')

    // detect scroll top or down
    if ($('.smart-scroll').length > 0) { // check if element exists
        var last_scroll_top = 0;
        $(window).on('scroll', function() {
            scroll_top = $(this).scrollTop();
            if(scroll_top < last_scroll_top) {
                $('.smart-scroll').removeClass('scrolled-down').addClass('scrolled-up');
            }
            else {
                $('.smart-scroll').removeClass('scrolled-up').addClass('scrolled-down');
            }
            last_scroll_top = scroll_top;
        });
    }
});

    const dueDate = datepicker('#dueDate', {
            formatter: (input, date, instance) => {
                const value = date.toLocaleDateString()
                input.value = value // => '1/1/2099'
            },
            id: 1
        })
      
    $( "#addGoalBtn" ).click(function() {
        $( ".newGoalDiv" ).toggle("slow");
    });

    $( "#saveGoal" ).click(function() {
        var addedGoal = "true";
        localStorage.setItem("addedGoalKey", addedGoal);
    });

    $( ".postComment" ).click(function() {
        var postComment = "true";
        localStorage.setItem("postCommentKey", postComment);
    });

    $( ".submitAssessment" ).click(function() {
        var submitAssessment = "true";
        localStorage.setItem("submitAssessmentKey", submitAssessment);
    });

 
    </script>
    
        </body>
        </html>