<%- include ("./partials/header2") %> 

<div class="header2container">
    <h2 style="font-weight: 600">Manage Users</h2>
    <div class="employeeFilter">
        <div class="redBarEmployee">
            <span>Filters</span>
        </div>
        <form action="/manageUsers" method="GET">
            <div class="form-row employeeFilterRow">
                <span>Employee</span>
                <input type="text" class="form-control" name="employee" id="employeeName">
                <input type="submit" value="Search" class="form-control" id="searchEmployee">
                <span>Department</span>
                <div class="dropdown findDepartmentDiv">
                    <a class="btn btn-secondary dropdown-toggle departmentDropdownBtn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span> ~All~</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="findEmployees">
        <p id="numOfEmployeesFound">Found 5 employees.</p>
        <div class="row tableHeadingEveryone no-gutters">
                <div class="col-1 ">
                    <span ></span>
                </div>
                <div class="col-2 col-md-1 col-lg-2 mt-3 mr-md-5 mr-lg-0 ml-md-3 ml-lg-0">
                    <span >Name</span>
                </div>
                <div class="col-2  mt-3 mr-md-5 mr-lg-0">
                    <span >Email Address</span>
                </div>
                <div class="col-2  mt-3">
                    <span >Department</span>
                </div>
                <div class="col-2 col-md-1 col-lg-2 mt-3 mr-md-3 mr-lg-0">
                    <span >Manager</span>
                </div>
                <div class="col-3 mt-3">
                    <span >Hire Date</span>
                </div>
        </div>
        <hr class="hrManagers">
        <% for (var i = 0; i < users.length; i++) { %>
            <div class="row emoplyeesEveryoneRow no-gutters">
                <div class="col-1">
                    <% if (users[i].photo) { %>
                        <img class="profilePicEmployeePage" src="<%= users[i].photo %> " class="img-fluid" alt="image">
                    <% } else { %>
                        <img class="profilePicEmployeePage" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="image">
                    <% } %> 
                </div>
                <div class="col-2 col-md-1 col-lg-2 mt-3 mr-md-5 mr-lg-0 ml-md-3 ml-lg-0">
                    <span class="nameOfEmployee"><%= users[i].firstName%> <%= users[i].lastName %> </span>
                </div>
                <div class="col-2  mt-3 mr-md-5 mr-lg-0">
                    <span class=""><%= users[i].email %> </span>
                </div>
                <div class="col-2  mt-3">
                    <span class=""><%= users[i].department %> </span>
                </div>
                <div class="col-2 col-md-1 col-lg-2 mt-3 mr-md-3 mr-lg-0">
                    <span class=""><%= users[i].reportsTo %> </span>
                </div>
                <div class="col-1 col-md-1 col-lg-1 mt-3 mr-md-5 mr-lg-0">
                    <span class=""><%= users[i].hireDate %> </span>
                </div>
                <div class="col-2 col-md-1 col-lg-2 mt-2">
                    <a class="btn editPersonsDetailsBtn" href="/employees/<%= userIds[i]._id %>/edit"><i class="fas fa-edit"></i><span>Edit</span></a>
                    <form action="/employees/<%= userIds[i]._id %>?_method=DELETE" method="POST" style="display: inline">
                        <button class="btn terminatePersonBtn"><i class="fas fa-trash"></i><span>Delete</span></button>
                    </form>
                </div>
            </div>
            <hr class="hrManagers">
        <% } %> 
    </div>

</div>

<%- include ("./partials/footer") %> 